.fondo-nav{
    background-color: $baseColor;
}
@mixin jumbotron {
    background-image: url(../images/hero.jpg);
    background-size: cover;
    background-position: center;
    height: 450px;
    color: $secundariColor;
    text-shadow: 1px 1px 5px $heximalColor;
    border-radius: 0;
    margin-bottom: 0;
}
.jumbotron{
   @include jumbotron;
}
.jumbotron{
    p{
        font-size: 24px;
        color: $whiteColor;
    }
}
h2{
    text-align: center;
    background-color: $secundariColor;
    color: $heximalColor;
    text-transform: capitalize;
    padding: 10px;
}
.nosotros{
    height: 500px;
    width: 100%;
    background-color: $backColor1;
}
.row{
    height: 500px;
}
.nleft{
    background-color: $backColor2;
    background-image: url(../images/productos4.jpg);
    background-size: cover;
    background-position: right;
}
.nrigth{
    background-color: $heximalColor;
    padding: 20px;
    color: $color1;
}
.nrigth{
   h3{
    text-align: center;
    color: $secundariColor;
    text-decoration: underline;
   }
}
.nrigth{
    p{
       text-align: justify;
    }
}
.nrigth {
    p::first-letter{
        font-size: 30px;
        color: $baseColor;
        text-shadow: 0 0 5px $color1;
    }
}
.newsletter{
    width: 100%;
    min-height: 80px;
     background-color: $color1;
     padding: 50px;
}
.newsletter {
    h3{
        color: $heximalColor;
        text-align: center;
    }
}
.newsletter{
    input{
    width: 100%;
    height: 40px;
    border: 5px solid $baseColor;
    padding: 10px;
    font-family: $baseFont;
    text-transform: capitalize;
    }
}
.newsletter {
    input:focus{
        color: $baseColor;
        background-color: $color1;
    }
}
.newsletter {
    input::placeholder{
        color: $baseColor;
    }
}
.card {
    a:hover{
        background-color: $backColor3;
    }
}
.jumbotron-acercade{
    background-image: url(../images/inicio.png);
    background-size: cover;
    background-position: center;
    height: 450px;
    color: $secundariColor;
    text-shadow: 1px 1px 5px $heximalColor;
    border-radius: 0;
    margin-bottom: 0;
}
.jumbotron-acercade{
    p{
        font-size: 24px;
        padding-top: 5px;
        color: $whiteColor;
        text-align: center;
    }
}
.jumbotron-acercade{
    h1{
        text-align: center;
        padding-top: 30px;
    }
}
.footer-acercade{
    margin: auto;
    padding-top: 15px;
}
.jumbotron-nuestrosProductos{
    background-image: url(../images/laboratorio.jpg);
    background-size: cover;
    background-position: center;
    height: 450px;
    text-shadow: 1px 1px 5px $heximalColor;
    border-radius: 0;
    margin-bottom: 0;
    text-align: center;
    padding-top: 90px;
}