/* variables */
$baseColor: #0769e9;
$secundariColor: #003862;
$heximalColor: #fff;
$whiteColor: white;
$color1: #333;
$color2: #000;
$color5: #1f53c5;
$backColor1:rgb(114, 68, 68);
$backColor2: aqua;
$backColor3: #333;
$backColor4: #24303c;
$baseFont: Verdana, Geneva, Tahoma, sans-serif;
$alternatiFont: 'calibri';
