@import "variables";

@import "header-main";

@import "footer";


.form-register{
    width: 400px;
    background-color: $backColor4;
    padding: 30px;
    margin: auto;
    margin-top: 30px;
    border-radius: 4px;
    font-family: 'calibri';
    color: $whiteColor;
    box-shadow: 7px 13px 37px $color2;
    margin-bottom: 25px;
}
.form-register h4{
    font-size: 22px;
    margin-bottom: 20px;
}
.controls{
    width: 100%;
    background: $backColor4;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid $color5;
    font-family: 'calibri';
    font-size: 18px;
    color: $whiteColor;
}
.form-register{
    p{
       height: 40px;
       text-align: center;
       font-size: 18px;
       line-height: 40px;
    }
}
.form-register{
   a{
    color: $whiteColor;
    text-decoration: none;
   }
}
.form-register{
    a:hover{
        color: $whiteColor;
        text-decoration: underline;
    }
}
.form-register{
   botons{
    width: 100%;
    background: $color5;
    border: none;
    padding: 12px;
    color: $whiteColor;
    margin: 16px 0;
    font-size: 16px;
   }
}

